@* @(username: String)*@
@(roomname: String, username: String)

@main(username) {
	<div class="page-header">
		<h1>Welcome to the chat room <small>You are chatting as @username</small></h1>
	</div>
	<div id="onError" class="alert-message error">
		<p>
			<strong>Oops!</strong> <span></span>
		</p>
	</div>
	<div id="onChat" class="row">
		<div class="span10" id="main">
			<div id="messages"></div>
			<textarea id="talk"></textarea>
		</div>
		<div class="span4">
			<h2>Members</h2>
			<ul id="members"></ul>
		</div>
	</div>
}{
<!-- css -->
}{
<!-- javascript -->
	<script type="text/javascript" charset="utf-8" src="@routes.Application.chatRoomJs(roomname,username)"></script>
	@* <script type="text/javascript" charset="utf-8" src="@routes.Application.chatRoomJs(username)"></script> *@
}
