@* home Template File *@

@main("Home") {
	<div class="center">
		<label>WebSocketテスト(chat)</label>
		<form action="@routes.Application.chatRoom()">
			<input name="roomname" type="text" value="room1" readonly="readonly">
			<input name="username" type="text" placeholder="Username">
			<input type="submit" value="room"/>
		</form>
	</div>
	<div class="center">
		<label>Play画面</label>
		<form action="@routes.PlayRoomController.playRoom()">
			<input name="roomId" type="text" value="room2" readonly="readonly">
			<input name="userId" type="text" placeholder="Username">
			<input type="submit" value="room"/>
		</form>
	</div>
}{
<!-- css -->
}{
<!-- javascript -->
}
