@* login Template File *@

@main("Login") {
	<div class="center">
		<form action="/login/auth" method="POST">
			<input type="submit" value="Login"/>
		</form>
		<form action="/signup" method="GET">
			<input type="submit" value="to Signup"/>
		</form>
	</div>
}{
<!-- css -->
}{
<!-- javascript -->
}
