@* @(username: String)*@
@(roomId: String, userId: String)

@main(userId) {
	<div id="onError" class="alert-message error">
		<p>
			<strong>Oops!</strong> <span></span>
		</p>
	</div>
	<div class="container"><!-- move -->
		<div class="body_size">
			<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">ワードバスケット</a>
				</div><!--/.navbar-header -->
				<div class="navbar-collapse collapse">
					<form class="navbar-form navbar-right" role="form">
						<div class="form-group">
							<input type="text" placeholder="Email" class="form-control">
						</div>
						<div class="form-group">
							<input type="password" placeholder="Password" class="form-control">
						</div>
						<button type="submit" class="btn btn-success">Sign in</button>
					</form>
				</div><!--/.navbar-collapse -->
			</div><!-- navbar end -->

			<!-- a -->
			<center>
				<img id="man_center" src="./img/sit_center.png">
				<img class="user_icon" src="./img/a.png" width="70px">
				<div id="a_user"></div><!-- ユーザ名表示 -->
				<div id="a_card" class="card left_card" >3</div>
				<br>
				<br>
			</center>

			<!-- b -->
			<div style="position:relative; left: 10px;">
				<img id="man_left" src="./img/sit_left.png">
			</div>
			<div style="float:left">
				<img class="user_icon" src="./img/b.png" width="70px">
				<div id="b_user"></div><!-- ユーザ名表示 -->
				<div id="b_card" class="card left_card" >5</div>
				<br>
				<br>
			</div>

			<!-- c -->
			<div style="position:relative; right: 10px;">
				<img id="man_right" src="./img/sit_right.png">
			</div>
			<div style="float:right">
				<img class="user_icon" src="./img/c.png" width="70px">
				<div id="c_user"></div><!-- ユーザ名表示 -->
				<div id="c_card" class="card left_card" >3</div>
				<br>
				<br>
			</div>

			<!-- 場 -->
			<center>
				<div class="row" style="margin-bottom:10px;">
					<div id="yama" class="card_ura" style="margin-left:-70px">
						<div id="ba" class="card" style="background-color:#ED9;float:left;margin-left:70px"></div>
					</div>
				</div>
			</center>

			<!-- 自分 -->
			<div style="padding:15px; background-color:rgba(255,255,255,0.40); width: 100%; position:relative; bottom:20px">
				<div id="user" style="font: bold; color=red"></div><!-- ユーザ名 & 残りカード枚数表示 -->
				<div class ="row">
				<!-- <div class="row" style="padding:15px; background-color:rgba(255,255,255,0.40); position:absolute;bottom:10px"> -->
					<img class="user_icon" id="me_icon" src="./img/user.jpg" width="70px" style="margin-right:10px; margin-left:10px; float:left">
					<div id="card"></div>
				</div>
			</div>

			<div style="clear: both"></div><!-- 回りこみ解除 -->

			<ul>  
			</ul>

			<footer>
				<p>&copy; Company 2014</p>
			</footer>
		</div><!-- /body_size-->
	</div> <!-- /container -->
}{
<!-- css -->
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/play.css")">
}{
<!-- javascript -->
	<script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<script>
		(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
		function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
		e=o.createElement(i);r=o.getElementsByTagName(i)[0];
		e.src='//www.google-analytics.com/analytics.js';
		r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
		ga('create','UA-XXXXX-X');ga('send','pageview');
	</script>	
	<!-- WebSocket用jsファイルの読み込み -->
	<script type="text/javascript" charset="utf-8" src="@routes.PlayRoomController.playRoomJs(roomId,userId)"></script>
}
