@* signup Template File *@

@main("Signup") {
	<div class="center">
		<form action="/signup/regist" method="POST">
			<input type="submit" value="Signup"/>
		</form>
		<form action="/login" method="GET">
			<input type="submit" value="to Login"/>
		</form>
	</div>
}{
<!-- css -->
}{
<!-- javascript -->
}
